/* Reset CSS */
* {
  margin: 0;
  padding: 0;
}

/* Global Styles */
body {
  width: 1160px;
  margin: 0 auto;
  border-right: 1px solid black;
  font-family: Montserrat, sans-serif;
}

/* Header Styles */
header {
  background-color: #782221;
  padding: 20px;
  display: flex;
  justify-content: center;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.3);
}

.header-top {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* Profile Picture Styles */
.pp {
  display: flex;
  justify-content: center;
}

.pp a {
  cursor: zoom-in;
  margin: auto;
}

.pp img {
  border-radius: 50%;
  width: 50%;
  box-shadow: 0px 0px 20px black;
  display: block;
  margin: auto;
}

/* Description Styles */
.des {
  text-align: center;
  margin: 40px 0 20px 0;
  font-size: large;
}

/* Top Section Styles */
.section-top {
  display: flex;
  background-color: #2c1d27;
  padding: 55px;
}

.section-top a {
  flex: 33%;
  color: white;
  text-decoration: none;
  text-align: center;
}

.section-top a:first-child {
  text-align: left;
}

.section-top a:last-child {
  text-align: right;
}

/* Section General Styles */
.section-general {
  display: flex;
}

/* Left Section Styles */
.section-left {
  background-color: #782221;
  padding-right: 35px;
  font-size: x-large;
}

.section-left p {
  color: white;
  padding: 20px 0;
  text-indent: 15%;
}

.section-left h3 {
  background-color: #dbc2a4;
  padding-left: 20px;
}

.section-left ul {
  color: white;
  padding: 20px 0;
  padding-left: 30px;
}

/* Right Section Styles */
.section-right {
  background-color: white;
  padding-left: 50px;
  font-size: x-large;
  flex-grow: 1;
  padding: 5px;
}

.section-right ul {
  padding: 10px 0;
  padding-left: 30px;
}

.section-right h3 {
  margin: 15px 0;
  background-color: #dbc2a4;
}

.section-right h3:hover {
  border-left: 6px solid #782221;
}

/* Footer Styles */
footer {
  background-color: #782221;
  display: flex;
  justify-content: center;
  padding: 50px;
  padding-top: 30px;
}

footer img {
  width: 50%;
}

footer a {
  width: 100px;
}

footer img:hover {
  opacity: 0.5;
}
